<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <%# <link rel="stylesheet" href="style3-5.css"> %>
  </head>
  <body>
    <header>
    <h2>コース選択画面</h2>
    </header>
    <div class="top">

      <div class="left-content">
        <h2>健康コース</h2>
        <p>
        目標値となるタンパク質摂取量=ご自身の体重×1.2g
        </p>
      </div>

      <div class="center-content">
        <h2>マッチョコース</h2>
        <p>
        目標値となるタンパク質摂取量=ご自身の体重×1.6g
        </p>
      </div>

      <div class="right-content">
        <h2>超マッチョコース</h2>
        <p>
        目標値となるタンパク質摂取量=ご自身の体重×2.0g
        </p>
      </div>
    </div>

    <div class="under">

      <div class="body_weight">
        <h3>ご自身の体重を入力してください</h3>
        体重記入欄
      </div>

      <div class="target_value">
        <h3>目標値</h3>
        計算後の目標値の表示
      </div>

    </div>
  </body>
</html>