<div class="side-bar-header">

<%= form_with model: @course, class: 'course-name_id', local: true do |f| %>
    <%# <h2>コース名</h2> %>
    <%# <%= link_to courses_path(@course.id), method: :get do %> %>
    <%# <h3 class='item-name'> %>
      <%# <%= @course.course_name %> %>
    <%# </h3> %>
    <%# <% end %> %>
    <% end %> 
</div>

<div class="dates">
<h2>weekデータ</h2>
</div>
