<div class="side-bar-header">


    <h5>ご自身のコース</h5>
    <div class="course-name">
      <% @course.find do |course| %>
        <h4><%= course.course_name.name %></h4>
      <% end %>
    </div>
    
</div>

<div class="dates">
<h2>weekデータ</h2>
</div>
