<h3>ユーザーの登録情報</h3>

    <h5>ご自身の体重</h5>
    <div class="course-weight">
      <% @course.find do |course| %>
        <h4><%= course.weight %>g</h4>
    </div>

        <h5>ご自身のコース</h5>
    <div class="course-name">
        <h4><%= course.course_name.name %></h4>
      <% end %>
    </div>

  <%# 目標値 %>