header{
  height:100px;
  width: 100%;
  background-color:lightgray;
  color: black;
  margin-bottom: 20px;
  padding: 15px;
 }
 
 .top{
  height: 400px;
  width: 100%;
  background-color:white;
  display: flex;
  justify-content: space-around;
 }
 
 .left-content{
  width: 300px;
  height: 200px;
  background-color: lightgreen;
  color: white;
  padding: 20px;
  margin: 50px;
 }
 
 .center-content{
  width: 300px;
  height: 200px;
  background-color: skyblue;
  color: white;
  padding: 20px;
  margin: 50px;
 }
 
 .right-content{
  width: 300px;
  height: 200px;
  background-color: pink;
  color: white;
  padding: 20px;
  margin: 50px;
 }

.under{
  height: 300px;
  width: 100%;
  background-color: lightyellow;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

 .body-weight{
  height: 100px;
  font-size: 1.5vh;
  display: flex;
  justify-content: space-between;
 }

 .target-value{
  height: 100px;
  display: flex;
 }

.next-btn{
  background-color: lightgray;
  color: black;
  display: flex;
  margin-top: 30px;
  margin-left: 90%;
  height: 50px;
  font-size: 30px;
  padding-left: 20px;
  }