
header{
  height:80px;
  width: 100%;
  background-color:#a0d4a7;
  color: black;
  margin-bottom: 20px;
  padding: 15px;
 }
 
 .top{
  height: 400px;
  width: 100%;
  background-color:white;
  display: flex;
  justify-content: space-around;
 }
 
 .left-content{
  width: 300px;
  height: 200px;
  background-color: lightgreen;
  color: black;
  padding: 20px;
  margin: 50px;
 }
 
 .center-content{
  width: 300px;
  height: 200px;
  background-color: skyblue;
  color: black;
  padding: 20px;
  margin: 50px;
 }
 
 .right-content{
  width: 300px;
  height: 200px;
  background-color: pink;
  color: black;
  padding: 20px;
  margin: 50px;
 }

.under{
  height: 300px;
  width: 100%;
  background-color: #a0d4a7;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.weight_content{
  height: 100px;
  font-size: 2vh;
  display: flex;
  justify-content: space-around;
  border: 3px solid black;
  padding: 5px;
}

 .body-weight{
  height: 100px;
 }

 .target-value{
  height: 100px;

 }

.next2-btn{
  background-color: black;
  color: white;
  display: flex;
  margin-left: 75%;
  height: 50px;
  font-size: 30px;
  padding-left: 10px;
  margin-top: 10px;
  }


.select-box {
  height: 30px;
  width: 100%;
  background-color: white;
  padding-left: 20px;
}

//詳細ページ用

.user-info{
  background-color:white;
  padding: 5%;
}
