.wrapper {
  display: flex;
}

.side-bar {
  background-color: green;
  width: 300px;
  height: 100vh;
}

.side-bar-header {
  height: 100px;
  color: white;
  padding: 0 20px;
  border:2px solid white;
}
.dates {
  background-color: #a0d4a7;
  height: calc(100vh - 100px);
  color: white;
  padding: 0 20px;
  border:0 2px 2px;
  border: solid white;
}



.foods {
  background-color: #a0d4a7;
  width: calc(100vw - 300px);
  overflow: scroll;
}
.foods-header {
  height: 100px;
  color: white;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  border:2px solid white;
}

.header-button {
  margin-top: 40px;
}

.header-button a {
  text-decoration: none;
  border: 1px solid saddlebrown;
  color: saddlebrown;
  padding: 20px;
}

.all_foods {
  background-color: white;
  height: calc(100vh - 100px - 200px);
  padding: 46px 40px 0;
}



.form {
  background-color: #DDDDDD;
  height: 200px;
  padding: 20px 40px;
  display: flex;
  border:2px 0 2px 2px;
  border: solid white;
}

.form-input {
  background-color: white;
  display: flex;
  width: 100%;
}

.form-dates {
  border: none;
  height: 160px;
  width: 100%;
  padding-left: 10px;
}

.form-submit {
  background-color: black;
  border: none;
  color: white;
  font-size: 16px;
  height: 160px;
  margin-left: 15px;
  padding: 0 20px;
}

/* .form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
} */