.wrapper {
  display: flex;
}

.side-bar {
  background-color: green;
  width: 300px;
  height: 100vh;
}

.side-bar-header {
  height: 100px;
  color: white;
}
.dates {
  background-color: #a0d4a7;
  height: calc(100vh - 100px);
  color: green;
}



.foods {
  background-color: #a0d4a7;
  width: calc(100vw - 300px);
}
.foods-header {
  height: 100px;
  color: green;
}
.all_foods {
  background-color: green;
  height: calc(100vh - 100px - 90px);
}



.form {
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
  display: flex;
}

.form-input {
  background-color: white;
  display: flex;
  width: 100%;
}

/* .form-dates {
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}

.form-submit {
  background-color: #38AEF0;
  border: none;
  color: white;
  font-size: 16px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
} */