.wrapper {
  display: flex;
}

.side-bar {
  background-color: green;
  width: 300px;
  height: 100vh;
}

.side-bar-header {
  height: 100px;
  color: white;
  padding: 0 20px;
  border:2px solid white;
}



.dates {
  background-color: #a0d4a7;
  height: calc(100vh - 100px);
  color: white;
  padding: 0 20px;
  border:0 2px 2px;
  border: solid white;
}



.foods {
  background-color: #a0d4a7;
  width: calc(100vw - 300px);
  overflow: scroll;
}
.foods-header {
  height: 100px;
  color: white;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  border:2px solid white;
}

.header-button {
  margin-top: 40px;
}

.header-button a {
  text-decoration: none;
  border: 1px solid saddlebrown;
  color: saddlebrown;
  padding: 20px;
}

.all_foods {
  background-color: white;
  height: calc(100vh - 100px - 200px);
  padding: 46px 40px 0;
}



.add-food-content{
  display: flex;
  background-color: beige;
  justify-content: space-around;
  padding: 20px;
  margin: 40px;
}




.form {
  background-color: #DDDDDD;
  height: 200px;
  width: 100%;
  padding: 20px;
  display: flex;
  border:2px 0 2px 2px;
  border: solid white;
  justify-content: space-around;
}

.form-input {
  background-color: white;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
}

.food_name{
  width: 50%;
  height: 80%;
  background-color: lightgreen;
  color: black;
  padding: 10px;
  margin: 10px;
}

.amount_of_protein_value{
  width: 50%;
  height: 80%;
  background-color: lightgreen;
  color: black;
  padding: 10px;
  margin: 10px;
}

.number{
  width: 50%;
  height: 80%;
  background-color: lightgreen;
  color: black;
  padding: 10px;
  margin: 10px;
}

.next-btn {
  background-color: black;
  color: white;
  font-size: 20px;
  height: 80%;
  padding: 10px;
  margin: 10px;
}

/* .form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
} */